<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style_face_robo.css" />

    <title>Web Speech AI chatbot</title>
  </head>
  <body onload="eyes.startBlinking()">


    </div>

      <div class="face">
        <div class="Bender__eyes">
          <div class="eye left">
            <div class="eyelid upper"></div>
            <div class="eyelid lower"></div>
          </div>
          <div class="eye right">
            <div class="eyelid upper"></div>
            <div class="eyelid lower"></div>
          </div>
        </div>
    </div>
<button><i class="fa fa-microphone"></i></button>

  <div class="Bender__socket">
    <div id="bars">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
 </div>
<button onclick="btnChrome_onclick()">full screen</button>









    <script src="js/socket.io.js"></script>
    <script src="js/robo_face.js"></script>
    <script src="js/eventemitter2.min.js"></script>
    <script src="js/roslib.js"></script>
    <script src="js/script.js"></script>

  </body>
</html>
